{%extends 'notes/base.html'%}
{%block title%}
    {{food.name}} - McDonald's®
{%endblock%}
{%block content%}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://assignment2-bryanyjy-2.c9.io">
              <img src="../../static/notes/media/logo.png" alt="McDonald's®">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://assignment2-bryanyjy-2.c9.io/restaurants">Restaurants</a></li>
            <li class="active"><a href="http://assignment2-bryanyjy-2.c9.io/food">Food</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container main">
      <div class="container food">
        <div class="bgtext">
          <h1>{{food.name}}</h1>
          <small>{{food.info}}</small>
          <br>
          <br>
          <a href="http://assignment2-bryanyjy-2.c9.io/food/{{object.id}}/edit" role="button" class="btn btn-primary">Edit</a>
        </div>
        <img class="bg" src= "../../static/notes/media/foodbg.png" alt="McDonald's®">
        <img class="foodpic foodpic{{food.id}}" src= "../../static/notes/media/food{{food.id}}.png" alt="McDonald's®">
      </div>
    </div>
{%endblock%}