{%extends 'notes/base.html'%}
{%block title%}
    Home - McDonald's®
{%endblock%}
{%block content%}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">
              <img src="../../static/notes/media/logo.png" alt="McDonald's®">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="restaurants">Restaurants</a></li>
            <li><a href="food">Food</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container main">
      <div class="container bg">
        <div class="bgtext">
          <h1>McDonald's</h1>
          <small>Discover the story of how one man’s vision revolutionised the fast food world.</small>
        </div>
        <img class="bg" src="../../static/notes/media/about.png" alt="McDonald's®">
      </div>
    </div>
    <div class="text">
      <p>Everyone has a story to tell and like all humble beginnings, ours began in 1917. Ray Kroc, the man who put McDonald’s on the world map, was known to be many things, before he was the man behind the famous Golden Arches. He was a Red Cross ambulance driver, a piano player, a paper cup salesman and Multi-mixer salesman.</p>
      <p>It was in 1954, while out in San Bernardino, California to answer a sales call that Ray Kroc made history. He discovered a successful restaurant ran by brothers Dick and Mac McDonald. It was like all other small restaurants of that time, but what made it stood out was the effectiveness of their operation. Serving a limited menu that consisted of only burgers, fries and beverages, it allowed them to focus on quality and quick service. Ray Kroc saw the opportunity of creating a chain of McDonald’s restaurants all across the United States, and pitched his vision to the brothers.</p>
      <p>But Ray Kroc’s success story didn’t stop there. He wanted a restaurant system that would be famous for providing food of consistently high quality and uniform methods of preparation. He wanted to serve food that tasted the same at wherever the restaurant may be. In 1955, he founded the McDonald’s System, Inc. – the core of McDonald’s principles of Quality, Service, Cleanliness and Value (QSCV) – which lives on as the Company’s cornerstone to this day.</p>
      <p>By 1958, just three years after opening its doors, McDonald’s served its 100 millionth hamburger. A year later, a record of 67 restaurants joined the family.</p>
      <p>Today, McDonald’s Corporation has grown to more than 34,000 restaurants in over 118 countries. We serve a whopping 50 million people a day on average – not bad for a restaurant that took in a mere US$366.12 on its first day of business in Des Plaines, Illinois, USA, circa 1955. Fuelled by hard work and positive work ethics, the Company posted over US$40 billion in worldwide sales in 2003. It’s a run we hope to continue for a great many years.</p>
      <h4>Don’t just live life. Love it.</h4>
      <p>Our business is never just about providing quick meals. It’s always been about you – your tastes, your lifestyle, your choices. And we’d like to keep it that way, with you lovin’ every moment of it. This is why we put our heart and soul into each and every one of our delicious, wholesome meals. Each ‘mmm’ and ‘ahhh’ from you is thanks enough. As you change and grow, we’ll be with you every step of the way, as the McDonald’s you have come to know and love. Today and tomorrow.</p>
      <h4>i’m lovin’ it®</h4>
      <p>“i’m lovin’ it!” is a celebration of life: a global tagline dedicated to you, our customers who make the best of every moment. “i’m lovin’ it!” brings to life the optimism and enthusiasm that mark great times and enriching discoveries at McDonald’s. Whatever you choose to pursue – sports, education, creative endeavours, career, friendship, or intimate moments – there is every reason to like what you do and love who you are. “i’m lovin’ it!” also expresses our passion in bringing joy to everyone we serve. Our lovingly made food comforts both young and old. And with much ease, you can enjoy these simple pleasures via our convenient drive-thrus, delivery service and even 24/7 restaurants.</p>
      <p>So don’t just live life. Love it. Because here at McDonald’s, we’re certain life will love you back!</p>
      <h4>A tiny island welcomes a giant restaurant chain</h4>
      <p>We opened our first restaurant in Singapore in 1979. And what an event that was – the world’s highest volume of hamburgers was served that day in October at Liat Towers. Today, over 120 McDonald’s restaurants island-wide serve 1.2 million customers each week. And around 9,000 employees keep Singapore’s favourite restaurant running ship-shape.</p>
    </div>
{%endblock%}