{%extends 'notes/base.html'%}
{%block title%}
    Restaurants - McDonald's®
{%endblock%}
{%block content%}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://assignment2-bryanyjy-2.c9.io">
              <img src="../../../static/notes/media/logo.png" alt="McDonald's®">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://assignment2-bryanyjy-2.c9.io/restaurants">Restaurants</a></li>
            <li><a href="http://assignment2-bryanyjy-2.c9.io/food">Food</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container main">
      <div class="row">
        <div class="page-header"><h1>Delete {{object.name}}</h1></div>
        <form action="" method="post">{% csrf_token %}
          <p>Are you sure you want to delete "{{object}}"?</p>
          <button type="submit" class="btn btn-primary">Confirm</button>
          <a href="http://assignment2-bryanyjy-2.c9.io/restaurants/{{object.id}}" role="button" class="btn btn-primary">Back</a>
        </form>
      </div>
    </div>
{%endblock%}